[submodule "Carthage/Checkouts/ObjectMapper"]
	path = Carthage/Checkouts/ObjectMapper
	url = ssh://git@github.com/Dodig/ObjectMapper.git
[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = ssh://git@github.com/Dodig/Alamofire.git
